{% extends 'bace.html' %}
{% load static %}
{% load humanize %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">سبد خرید شما</h1>
                    <p class="lead fw-normal text-white-50 mb-0">اینجا هر چی که بخوای بخری اضافه میشه </p>
                </div>
            </div>
        </header>
    <br><br>
    {% if cart_products %}
    {% for product in cart_products %}
      <div class="container">
    <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.discription }}</p>
          {% if product.is_sale %}
        <p class="card-text">  قیمت💰: <strike> {{ product.price| intcomma}} </strike>  -  {{ product.sale_price | intcomma }}</p>
              {% else %}
              <p class="card-text"> قیمت💰: {{ product.price| intcomma}}</p>
        {% endif %}
      <p class="card-text">  تعداد:</p>
       <select class="form-select" id="select{{ product.id }}" >
           {% for key,value in quantities.items %}
           {% if key == product.id|slugify %}
               <option selected> {{ value }}</option>
            {% endif %}
            {% endfor %}
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        </select>
        <br>
      <button type="button" data-index="{{ product.id }}"
              class="btn btn-primary update-cart">ویرایش</button>
      <a href="{% url 'home' %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>
      </div>
    </div>
  </div>
</div>

    </div>
    <br><br>
    <script>
    $(document).on('click', '#add-cart',function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url:'{% url 'cart_add' %}',
            data: {
                product_id: $('#add-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success:function (json){
                //console.log(json)
                document.getElementById('cart_quantity').textContent = json.qty
            },
            error: function (xhr, errmsg, err) {

            }
        })
    })
    </script>
    {% endfor %}
    {% else %}
    <center><h3 class="container">&#128531سبد خرید شما خالی میباشد.</h3></center>
    {% endif %}
    <br>
        <script>
    $(document).on('click', '.update-cart',function(e){
        e.preventDefault();
        var productid = $(this).data('index')
        $.ajax({
            type: 'POST',
            url:'{% url 'cart_update' %}',
            data: {
                product_id: $(this).data('index'),
                product_qty: $('#select'+productid+' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success:function (json){
                //console.log(json)
                //document.getElementById('cart_quantity').textContent = json.qty
                location.reload();
            },
            error: function (xhr, errmsg, err) {

            }
        })
    })
    </script>
{% endblock %}
        
